@use "/src/styles/shared" as shared;

.wrapper {
    height: 100vh;
    background-color: var(--color-welcome-bg);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

    @include shared.bp-m {
        flex-direction: column-reverse;
        justify-content: center;

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.image {
    width: 100%;
    max-width: 500px;
    color: var(--color-primary);
    color: #6c63ff;
}

.button {
    margin-top: 2rem;
}

.text {

    &Secondary {
        margin-top: 0.5rem;
        color: var(--color-text-secondary);
    }
}
