.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 0 2.5rem;
    height: 52px;
    background-color: var(--color-button-default-bg);
    border: 2px solid var(--color-button-default-bg);
    color: var(--color-button-default-text);
    font-weight: 500;
    font-size: 0.875rem;
    text-align: center;
    transition: .1s;
    cursor: pointer;

    &:hover, &:focus-visible {
        opacity: 0.9;
    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }

    &.secondary {
        background-color: var(--color-button-secondary-bg);
        border-color: var(--color-button-secondary-border);
        color: var(--color-button-secondary-text);
    }

    &.outline {
        background-color: var(--color-button-outline-bg);
        border-color: var(--color-button-outline-border);
        color: var(--color-button-outline-text);

        &:hover, &:focus-visible {
            background-color: var(--color-button-outline-bg-hover);
        }
    }

    &.outlineSecondary {
        background-color: var(--color-button-outline-secondary-bg);
        border-color: var(--color-button-outline-secondary-border);
        color: var(--color-button-outline-secondary-text);

        &:hover, &:focus-visible {
            background-color: var(--color-button-outline-secondary-bg-hover);
        }
    }

    &.text {
        background-color: transparent;
        border: none;
        color: var(--color-primary);

        &:hover, &:focus-visible {
            color: var(--color-primary);
            opacity: 1;
        }
    }

    &.icon {
        background-color: transparent;
        border: none;
        padding: 0;
        color: var(--color-text);
        border-radius: 50%;

        svg {
            width: 16px;
            height: 16px;
        }
    }
}

