@use "/src/styles/shared" as shared;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 400px;
    
    img {
        object-fit: contain;
    }
}

.text {
    margin-top: 5rem;
    text-align: center;

    @include shared.bp-l {
        margin-top: 3rem;
    }

    @include shared.bp-m {
        margin-top: 2rem;
    }
}

.description {
    margin-top: 1rem;
    color: var(--color-text-secondary);
}

.actions {
    margin-top: 2rem;
}