:root {
    --color-primary: #3b82f6;

    --color-text: #333;
    --color-text-secondary: #888;
    --color-text-disabled: #aaa;
    --color-bg: #f2f3f7;

    --color-welcome-bg: #fff;
    --color-footer-bg: #fff;

    --color-input-bg: transparent;
    --color-input-bg-disabled: #f2f2f2;
    --color-input-border: #e6e6e6;
    --color-input-border-disabled: #dddddd;
    --color-input-border-hover: #cecece;
    --color-input-placeholder: #ccc;

    --color-paper-bg: #fff;
    --shadow-paper: 0px 0px 8px 0px rgba(0, 0, 0, 0.03);
    
    --color-header-bg: #fff;
    --color-header-border: #c8c8c8;
    --color-header-text: var(--color-text);
    --shadow-header: 0px 0px 8px 0px #eee;
    --header-height: 60px;

    --color-checkbox-bg: transparent;
    --color-checkbox-border: #e4e4e4;

    --color-divider: #ddd;

    --color-success: rgb(54, 158, 59);
    --color-error: #F03040;
    --color-error-bg: rgb(253, 237, 237);

    --color-button-default-bg: var(--color-primary);
    --color-button-default-border: var(--color-primary);
    --color-button-default-text: #fff;

    --color-button-secondary-text: #636369;
    --color-button-secondary-bg: #f1f1f1;
    --color-button-secondary-border: #f1f1f1;

    --color-button-outline-secondary-bg: transparent;
    --color-button-outline-secondary-border: #e2e8f0;
    --color-button-outline-secondary-text: var(--color-text);
    --color-button-outline-secondary-bg-hover: #f6f6f6;

    --color-skeleton-bg-1: #eee;
    --color-skeleton-bg-2: #e6e6e6;

    --color-modal-close-icon-bg: #f1f1f1;
    --color-modal-close-icon-bg-hover: #f1f1f1;

    --color-auth-provider-border: #999;

    --color-alert-error-bg: rgb(253, 237, 237);
    --color-alert-error-text: rgb(95, 33, 32);
    --color-alert-error-icon: #d32f2f;
    --color-alert-info-bg: rgb(229, 246, 253);
    --color-alert-info-text: rgb(1, 67, 97);
    --color-alert-info-icon: #0288d1;
    --color-alert-success-bg: rgb(237, 247, 237);
    --color-alert-success-text: rgb(30, 70, 32);
    --color-alert-success-icon: #2e7d32;
    --color-alert-warning-bg: rgb(255, 244, 229);
    --color-alert-warning-text: rgb(102, 60, 0);
    --color-alert-warning-icon: #ed6c02;
}
