@use "/src/styles/shared" as shared;

.card {
    background-color: var(--color-paper-bg);
    border-radius: 1rem;
    height: 100%;

    &Hover {
        &:hover {
            cursor: pointer;
    
            .image {
                opacity: 0.7;
            }
    
            .title {
                color: var(--color-primary);
            }
        }
    }
}

.image {
    height: 220px;
    overflow: hidden;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    transition: .2s;
}

.content {
    padding: 1.5rem;
}

.title {
    font-weight: 500;
    font-size: 1.25rem;
    transition: .2s;
    word-break: break-all;
    word-break: break-word;
}

.description {
    margin-top: 1rem;
    color: var(--color-text-secondary);
    word-break: break-all;
    word-break: break-word;
}