.image {
    img {
        object-fit: cover;
    }
}

.skeleton {
    transform-origin: 0;
    transform: none;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);

    svg {
        width: 2rem;
        height: 2rem;
    }
}